
ion-item {
  margin-top: 8px;
}



@media(max-width: 768px) {
  .lc-table-no-padding {
      padding: 0 !important;
  }
}

@media(min-width: 769px) {
  .lc-certId-align {
      padding-left: 24px !important;
  }
  .lc-btn-align {
      margin-top: 2em;
      --background: #02A5EF !important;
  }
}

.material-icons {
  cursor: pointer !important;
}

.cell-align-action {
  cursor: pointer;
}

@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
.mat-select {
  width: 175px !important;
}

.anchor{
  cursor: pointer;
}

.filter{
  float: right;
  margin: 10px;
  color: #ffffff;
}

