<ion-content [fullscreen]="true" class="ion-padding" scroll-y="true" class="lc-content">
  <!--ion-header>{{title}}</ion-header-->
  <form [formGroup]="buForm">

    <ion-grid>
      <ion-card class="lc-section">
        <ion-card-header>
          <ion-row>
            <ion-col size="12" size-xs="11" size-md="11" size-lg="11" class="ion-no-padding">
              <ion-header>{{subtitle | translate }}</ion-header>
            </ion-col>
          </ion-row>
          <ion-row class="ion-padding-top">
            <ion-col size="12" size-xs="12" size-md="6" size-lg="6" class="ion-no-padding">
              <ion-label class="lc-label-align">{{'bu_name' | translate }}*</ion-label>
              <ion-item lines="none" color="none">
                <ion-input class="lc-input" placeholder="{{'bu_name' | translate }}" (ionChange)="buNameRegistryCheck($event.target)" formControlName="buName"
                  type="text">
                </ion-input>
              </ion-item>
              <ion-text color="danger" class="lc-error"
                *ngIf="buForm.get('buName').errors && (buForm.get('buName').invalid && buForm.get('buName').dirty || buForm.get('buName').touched)">
                <ion-text *ngIf="hasError('buName','required')">{{'this_field_is_required' | translate }}</ion-text>
              </ion-text>
              <ion-text color="danger" class="lc-error" *ngIf="buNameConflict">
                <ion-text *ngIf="buNameConflict">BU name already taken</ion-text>
              </ion-text>
            </ion-col>
          </ion-row>
          <ion-row class="ion-padding-top">
            <ion-col size="12" size-xs="12" size-md="6" size-lg="6" class="ion-no-padding">
                <ion-label class="lc-label-align ">Logo</ion-label>
                <div class="input-group mat-form-field-wrapper" id="filePicker">
                  <div class="custom-file">
                      <input input type="file" class="custom-file-input" [ngStyle]="{cursor:'pointer'}"
                          (change)="chooseFile($event.target)"
                          formControlName="file" accept=".png,.jpeg,.jpg">
                      <label class="custom-file-label">{{fileName}}</label>
                  </div>
                  <span id="download_icon" title="uploaded logo" (click)="getUploadedLogo()"
                  *ngIf="update_flag === true && logoexists ===true"
                  class="material-icons ">cloud_download</span>
              </div>
            </ion-col>
        </ion-row>
        </ion-card-header>
        <ion-row>
          <ion-col size="12" size-xs="12" size-md="2" size-lg="2" class="ion-no-padding">
            <ion-button id="savebtn" [disabled]="!buForm.valid" type="button" expand="block" fill="solid"
              class="lc-button lc-btn-color" (click)="submit()">{{btnName | translate }}</ion-button>
          </ion-col>
        </ion-row>
      </ion-card>
    </ion-grid>
  </form>
</ion-content>
