<ion-content [fullscreen]="true" class="ion-padding" class="lc-content">


  <ion-card class="lc-section" *ngIf="!courses">
      <ion-card-header>
          <ion-card-title>{{'my_courses' | translate }}( 0 )</ion-card-title>
      </ion-card-header>
      <div class="search">
          <input type="text" class="searchTerm" style="background: url(./assets/icon/search.png) no-repeat;background-position: 3px 6px;" placeholder="{{'search' | translate }}..." (input)="search($event.target.value)">
      </div>
      <ion-card-content>
          <ion-label>{{'no_courses_to_view' | translate }}</ion-label>
      </ion-card-content>
  </ion-card>

  <ion-card class="lc-section" *ngIf="courses">
      <ion-card-header>
          <ion-card-title>{{'my_courses' | translate }}( {{ courses.length }} )</ion-card-title>
      </ion-card-header>
      <div class="search" *ngIf="coursesDummy.length > 0">
          <input type="text" class="searchTerm" style="background: url(./assets/icon/search.png) no-repeat;background-position: 3px 6px;" placeholder="{{'search' | translate }}..." (input)="search($event.target.value)">
      </div>
      <ion-card-content>

          <ion-label *ngIf="courses.length === 0">{{'no_courses_to_view' | translate }}</ion-label>

          <!--ion-slides style="margin-bottom:20px"  pager="true" [options]="slideOpts" loop="false"-->
          <ion-slides  style="margin-bottom:20px" [options]="slideOpts" loop="false" pager="true">
                          <ion-slide *ngFor="let item of courses;let i= index">
                              <ion-card class="lc-card-item" (click)="getCourseDetails(item.id,item.status)">
                                  <ion-card-header>
                                      <ion-img *ngIf="item.imgUrl !== null" [src]=item.imgUrl class="lc-img"></ion-img>
                                      <ion-item>
                                      <!--    <ion-chip slot="start">
                                              <ion-label>{{ (categories | catFilter: {catId: item.category}) }}</ion-label>
                                          </ion-chip> -->
                                      </ion-item>
                                      <ion-card-subtitle class="lc-subtitle">{{item.fullname}}</ion-card-subtitle>
                                  </ion-card-header>
                                  <ion-card-content>
                                      <!-- <ion-chip color="secondary">
                                          <ion-label>Enrolled Users - {{item.enrolledusercount}}</ion-label>
                                      </ion-chip> -->

                                          <div style="margin-top:2rem;text-align:left;padding-left:10px;">
                                          <ion-label slot="start">{{item.progress | number: '1.2-2'}}%</ion-label>
                                          </div>
                                          <div>
                                              <ion-progress-bar value="{{item.progress / 100}}"></ion-progress-bar>
                                          </div>

                                      <div style="margin-top:1rem;text-align: center;">
                                          <ion-button (click)="getCourseDetails(item.id,item.status)">{{'continue_course' | translate }}</ion-button>
                                      </div>

                                  </ion-card-content>
                              </ion-card>
                          </ion-slide>

                      </ion-slides>

<span *ngIf="courses.length > 4" type="submit" class="fabPrevBtn" (click)="prev(0)"></span>
<span *ngIf="courses.length > 4" type="submit" class="fabNxtBtn" (click)="next(0)"></span>

      </ion-card-content>
  </ion-card>



</ion-content>
