<ion-content [fullscreen]="true" class="ion-padding" class="lc-content">

  <ion-card class="lc-section" *ngIf="!courses">
    <ion-card-header>
      <ion-card-title class="lc-card-title">{{'my_courses' | translate }}( 0 )</ion-card-title>
    </ion-card-header>
    <form [formGroup]="filterForm">
      <span class="filter">
        <mat-select class="lc-input" id="enrollStatFilter" placeholder="Select Filter"
          (selectionChange)="selectFilter($event.value)" [formControlName]="'filter'" name="item">
          <mat-option *ngFor="let item of enrollStatFilter" [value]="item.value">
            {{ item.viewValue }}
          </mat-option>
        </mat-select>
      </span>
    </form>
    <ion-card-content>
      <ion-label>{{'no_courses_to_view' | translate }}</ion-label>
    </ion-card-content>
  </ion-card>

  <ion-card class="lc-section" *ngIf="courses">
    <ion-card-header>
      <ion-card-title class="lc-card-title">{{'my_courses' | translate }} ( {{ courses.length }} )</ion-card-title>
    </ion-card-header>
    <form [formGroup]="filterForm">
      <span class="filter">
        <mat-select class="lc-input" id="enrollStatFilter" placeholder="Select Filter"
          (selectionChange)="selectFilter($event.value)" [formControlName]="'filter'" name="item">
          <mat-option *ngFor="let item of enrollStatFilter" [value]="item.value">
            {{ item.viewValue }}
          </mat-option>
        </mat-select>
      </span>
    </form>
    <div class="search" *ngIf="coursesDummy.length > 0">
      <input type="text" class="searchTerm"
        style="background: url(./assets/icon/search.png) no-repeat;background-position: 3px 6px;"
        placeholder="{{'search' | translate }}..." (input)="search($event.target)">
    </div>
    <ion-card-content>

      <ion-slides style="margin-bottom:20px" [options]="slideOpts" loop="false" pager="true">
        <ion-slide *ngFor="let item of courses;let i= index">
          <ion-card class="lc-card-item" (click)="getCourseDetails(item.id,item.status)">
            <ion-card-header>
              <ion-img *ngIf="item.imgUrl !== null" [src]=item.imgUrl class="lc-img"></ion-img>
              <ion-card-subtitle class="lc-subtitle">{{item.fullname}}</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
              <ion-grid>
                <ion-row>
                  <ion-col>
                    <p class="course-inner">Enrollment: {{item.enrolltype}}</p>
                  </ion-col>
                  <ion-col>
                    <p class="course-inner">Points: {{item.credits}}</p>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col *ngIf="handleRatings(item.ratings);else notrated">
                    <p class="course-inner">Rating: {{item.ratings}}</p>
                    <ngx-material-rating [value]="item.ratings" [max]="5" class="ratingstuff" [readonly]="true">
                    </ngx-material-rating>
                  </ion-col>
                  <ng-template #notrated>
                    <ion-col>
                      <p class="course-inner" [ngStyle]="{'visibility':'hidden'}">{{"rating_not_rated_yet" | translate}}
                      </p>
                      <ngx-material-rating [value]="item.ratings" [max]="5" class="ratingstuff" [readonly]="true">
                      </ngx-material-rating>
                    </ion-col>
                  </ng-template>
                </ion-row>
              </ion-grid>


              <div style="text-align:left;padding-left:10px;">
                <ion-label slot="start">{{item.progress | number: '1.2-2'}}%</ion-label>
              </div>
              <div>
                <ion-progress-bar value="{{item.progress / 100}}"></ion-progress-bar>
              </div>

              <div style="margin-top:1rem;text-align: center;">
                <ion-button (click)="getCourseDetails(item.id,item.status)">{{'view_course' | translate }}
                </ion-button>
              </div>

            </ion-card-content>
          </ion-card>
        </ion-slide>

      </ion-slides>

      <span *ngIf="courses.length > 4" type="submit" class="fabPrevBtn" (click)="prev(0)"></span>
      <span *ngIf="courses.length > 4" type="submit" class="fabNxtBtn" (click)="next(0)"></span>

    </ion-card-content>
  </ion-card>



</ion-content>
