<ion-content [fullscreen]="true" class="ion-padding" class="lc-content">

  <ion-header>
    <ion-title class="lc-title">{{'catalog' | translate }}</ion-title>
  </ion-header>

  <div class="search" *ngIf="catalogsDummy.length > 0">
    <input type="text" class="searchTerm" id="catalogSearch"
      style="background: url(./assets/icon/search.png) no-repeat;background-position: 3px 6px;"
      placeholder="{{'search' | translate }}..." (input)="search($event.target)">
  </div>

  <div *ngIf="catalogs;else show">

    <ion-grid *ngFor="let catalog of catalogs; let i = index">
      <ion-row>
        <ion-col>
          <ion-card class="lc-section">
            <ion-card-header>
              <ion-card-title class="lc-card-title">{{catalog.category_name}} ( {{ catalog.courses.length }} )
              </ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-slides style="margin-bottom:20px" [options]="slideOpts" loop="false" pager="true">
                <ion-slide *ngFor="let course of catalog.courses">
                  <ion-card class="lc-card-item" (click)="getCatalogDetails(course.course_id)">
                    <ion-card-header>
                      <ion-img src="./assets/icon/crs-img.jpg" class="lc-img"></ion-img>
                      <ion-item>
                      </ion-item>
                      <ion-card-subtitle class="lc-subtitle"></ion-card-subtitle>
                    </ion-card-header>
                    <ion-card-content>
                      {{course.course_name}}
                    </ion-card-content>
                  </ion-card>
                </ion-slide>
              </ion-slides>
              <span *ngIf="catalog.courses.length > 4" type="submit" class="fabPrevBtn" (click)="prev(i)"></span>
              <span *ngIf="catalog.courses.length > 4" type="submit" class="fabNxtBtn" (click)="next(i)"></span>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>

  </div>

  <ng-template #show>
    <ion-card class="lc-section">
      <ion-card-content>
        <span class="lc-subtitle">
          {{'no_catalog_txt' | translate}}
        </span>
      </ion-card-content>
    </ion-card>
  </ng-template>

</ion-content>
