<ion-content [fullscreen]="true" class="ion-padding" scroll-y="true" class="lc-content">
  <ion-grid>
    <ion-row>
      <ion-col col-5 class="ion-no-padding">
        <ion-header>{{'manage_bus' | translate }}</ion-header>
      </ion-col>
      <ion-col col-2 class="ion-no-padding"></ion-col>
      <ion-col col-5 class="ion-no-padding">
        <ion-item lines="none" color="none">
          <input type="text" class="lc-input" #searchVal (input)="applyFilter(searchVal.value)" placeholder="Search"
            type="text" />
          <div class="input-group-prepend">
            <span class="input-group-text"><span class="material-icons">search</span>
            </span>
          </div>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-no-padding">
        <ion-card class="lc-section">
          <ion-card-header class="lc-table-no-padding">
            <ion-row>
              <ion-col>
                <div class="example-container">
                  <mat-table [dataSource]="dataSource">
                    <ng-container matColumnDef="bu">
                      <mat-header-cell *matHeaderCellDef style="justify-content:center;">{{'bu' | translate }}
                      </mat-header-cell>
                      <mat-cell *matCellDef="let element" style="justify-content:center;">
                        <span class="mobile-label">{{'bu' | translate }}:</span>
                        <span class="cell-align-ch">{{element.bu_name || "--"}}</span>
                      </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="courses">
                      <mat-header-cell *matHeaderCellDef style="justify-content:center;">{{'courses' | translate }}
                      </mat-header-cell>
                      <mat-cell *matCellDef="let element" style="justify-content:center;">
                        <span class="mobile-label">{{'courses' | translate }}:</span>
                        <span class="cell-align-ch">{{element.bu_courses_cnt || "0"}}</span>
                      </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="users">
                      <mat-header-cell *matHeaderCellDef style="justify-content:center;">{{'users' | translate }}
                      </mat-header-cell>
                      <mat-cell *matCellDef="let element" style="justify-content:center;">
                        <span class="mobile-label">{{'users' | translate }}:</span>
                        <span class="cell-align-ch">{{element.bu_users_cnt || "0"}}</span>
                      </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="Action">
                      <mat-header-cell *matHeaderCellDef>{{'action' | translate }}</mat-header-cell>
                      <mat-cell *matCellDef="let element">
                        <span class="mobile-label">Action:</span>
                        <span class="material-icons" title="Edit BU" (click)="navMenu('edit',element.bu_id)">edit</span>
                        <span class="spacer"></span><span class="material-icons"
                          title="{{'manage_bu_courses' | translate }}"
                          (click)="navMenu('mg-courses',element.bu_id)">school</span>
                          <span class="spacer"></span> <span class="material-icons" title="Manage Users"
                          (click)="navMenu('mg-users',element.bu_id)">manage_accounts</span>
                      </mat-cell>
                    </ng-container>
                    <mat-header-row *matHeaderRowDef="displayedColumns "></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns; "></mat-row>
                  </mat-table>
                </div>
                <mat-paginator #paginator [pageSize]="5" [pageSizeOptions]="[5,10,25,50,100]" showFirstLastButtons>
                </mat-paginator>
              </ion-col>
            </ion-row>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
