/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";



.lc-toggle-btn {
  --background: #cccccc;
  color: #666666;
  text-transform: capitalize;
}

.lc-active-btn {
  color: #ffffff;
  --background: #02A5EF;
}


.cusTitle {
  color: var(--selectedFontColor);
}

.mat-menu-content .mat-menu-item {
  color: #666666;
}

.mat-menu-content {
  background: #ffffff;
  padding: 1rem;
  color: #666666;
}

.lc-text-area {
  border-radius: 5px !important;
  border: 1px solid #cccccc;
  background-color: #ffffff !important;
  --padding-start: 1em !important;
  font-size: 0.9em !important;
  color: #94a0ad !important;
}

.durationPicker {
  background-color: #ffffff;
  color: #666666;
  margin-right: 10px;
  border: 1px solid #cccccc;
  border-radius: 5px;
  width: 75px;
  height: 35px;
}

.lc-content {
  --background: #ffffff !important;
  margin-top: 72.78px;

}

.mat-drawer {
  background-color: #ffffff;
}


.pwdIcon {
  font-size: 25px;
  color: black;
  cursor: pointer;
  border: none;
  outline: none;
  display: block;
  position: relative;
  z-index: 10;
  margin-left: -35px;
}



.inputIcon {
  font-size: 25px;
  color: black;
  border: none;
  outline: none;
  display: block;
  position: relative;
  z-index: 10;
  margin-left: -40px;
}



.lc-input {
  border: 1px solid #cccccc;
  border-radius: 5px;
  color: #666666;
  overflow: none !important;
}


ion-item {
  --border-color: #000000;
  --border-style: none;
  --background: #ffffff;
  --background-color: #ffffff;

}

item-native {
  background: #ffffff !important;
}

.list-md {
  background-color: #ffffff;
}

ion-header {
  color: #1d2125;
  padding: 10px;
  font-size: 20px;
}


@media only screen and (max-width: 768px) {
  .lc-card-item {
    font-size: 20px;
    --background: #ffffff;
    height: auto;
    margin-right: 10px;
    cursor: pointer;
    transition-duration: 0.3s;
    transition-property: transform;
    display: inline-block;
    width: 250px
  }
}

@media only screen and (min-width: 769px) {
  .lc-card-item {
    font-size: 20px;
    --background: #cccccc;
    height: auto;
    margin-right: 10px;
    cursor: pointer;
    transition-duration: 0.3s;
    transition-property: transform;
    display: inline-block;
    width: 250px;

  }
}



.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 10px 0;
  font-family: "Roboto", sans-serif;
  color: #666666;
}





ion-item {
  --background: #ffffff;
  --border-color: white;
  --color: white;
  --highlight-color-focused: yellow;
}

.item-native {
  border-radius: 5px;
  --background: #a50000;
  --padding-start: 1em;
  font-size: 0.9em;
  min-width: 50%;
  max-width: 99%;
}






.my-4 {
  border: 10px solid green;
}

#background-content {
  --background: #ffffff !important;
}



mat-row:nth-child(odd) {
  --background: #1B1B1B !important;
}




.lc-toolbar {
  --background: #ffffff;
  --background-color: #ffffff;
  box-shadow: 0 0 35px 0 rgba(66, 72, 80, 0.15);
}

.lc-section {
  height: auto;
  --background: #ffffff;
}


.lc-card-item {
  --background: #ffffff;
  --color: #1d2125;
}



.lc-profile-img {
  height: 70% !important;
  width: 70% !important;
}

.mat-header-row {
  background: #ffffff !important;
  font-weight: bold;
  border-bottom-color: #ffffff !important;
}

.mat-row {
  border-bottom-color: #cccccc !important;
  background: #ffffff !important;
}


mat-row:nth-child(even) {
  background-color: #ffffff !important;
}


mat-row:nth-child(odd) {
  background-color: #ffffff !important;
}

.mat-paginator {
  background: #ffffff !important;
  color: #94a0ad !important;
}



ion-content {
  --ion-background-color: #ffffff;
}


ion-header.md.header-md.header-collapse-none.hydrated {
  background-color: #ffffff;
}











.swiper-slide {
  display: inline-table !important;
}

.mat-expansion-panel-header-description,
.mat-expansion-indicator::after {
  color: #94A0AD !important;
}

input#mat-date-range-input-0,
.mat-date-range-input-end-wrapper {
  color: black;
}

.mat-date-range-input-end-wrapper,
.mat-calendar-body-cell-content,
.mat-date-range-input-separator {
  color: black;
}

.mat-hint,
.mat-datepicker-toggle,
.mat-datepicker-content .mat-calendar-next-button,
.mat-datepicker-content .mat-calendar-previous-button {
  color: rgba(0, 0, 0, .6);
}

.mat-form-field-appearance-fill .mat-form-field-flex {
  background-color: rgba(0, 0, 0, .04);
}

body.dark-theme {

  #mat-datepicker-0,
  #mat-datepicker-1,
  #mat-datepicker-2 {
    background-color: rgb(74 74 74 / 90%);
  }

  .mat-form-field-appearance-fill .mat-form-field-flex {
    background-color: rgb(50 50 50 / 75%);
  }

  input#mat-date-range-input-0 {
    color: white;
  }

  .mat-label.ng-tns-c181-4,
  .mat-calendar-table-header,
  .mat-calendar-body-label {
    color: white;
  }

  .mat-form-field-label {
    color: rgb(143 143 143 / 60%);
  }

  .mat-date-range-input-end-wrapper,
  .mat-calendar-body-cell-content,
  .mat-date-range-input-separator,
  .mat-datepicker-toggle,
  .mat-datepicker-content .mat-calendar-next-button,
  .mat-datepicker-content .mat-calendar-previous-button {
    color: white;
  }

  .mat-hint {
    color: #666666;
  }




  .lc-toggle-btn {
    --background: #2B2B2B;
    text-transform: capitalize;
  }

  .lc-active-btn {
    --background: #02A5EF;
  }


  .mat-menu-content .mat-menu-item {
    color: #666666;
  }

  .mat-menu-content {
    background: #000000;
    padding: 1rem;
    color: #ffffff;
  }

  .custom-file-label {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    height: auto;
    padding: 0.45rem 0.9rem;
    font-weight: 400;
    line-height: 1.5;
    color: #94a0ad;
    background-color: #2B2B2B;
    border: 1px solid #2B2B2B;
    border-radius: 0.2rem;
  }

  .lc-text-area {
    border-radius: 5px !important;
    background-color: #2b2b2b !important;
    --padding-start: 1em !important;
    font-size: 0.9em !important;
    color: #94a0ad !important;
  }


  .durationPicker {
    background-color: #2b2b2b;
    color: #88939f;
    margin-right: 10px;
    border: 0px solid #88939f;
    border-radius: 5px;
    width: 75px;
    height: 35px;
  }

  .lc-content {
    --background: #000000 !important;
    margin-top: 72.78px;
  }



  .pwdIcon {
    font-size: 25px;
    color: #ffffff;
    cursor: pointer;
    border: none;
    outline: none;
    display: block;
    position: relative;
    z-index: 10;
    margin-left: -35px;
  }



  .inputIcon {
    font-size: 25px;
    color: #ffffff;
    border: none;
    outline: none;
    display: block;
    position: relative;
    z-index: 10;
    margin-left: -40px;
  }



  .lc-input {
    border: 1px solid #666666;
    border-radius: 5px;
    color: #cccccc;
    overflow: none !important;
    background: transparent;
  }


  .mat-drawer {
    background-color: #000000;
  }



  ion-item {
    --border-color: #000000;
    --border-style: none;
    --background: #000000;
    --background-color: #000000;

  }

  .list-md {
    background-color: #000000;
  }

  ion-header {
    color: #ffffff;
    /*padding: 10px;*/
    font-size: 20px;
  }



  @media only screen and (max-width: 768px) {
    .lc-card-item {
      font-size: 20px;
      --background: #000000;
      height: auto;
      margin-right: 10px;
      cursor: pointer;
      transition-duration: 0.3s;
      transition-property: transform;
      display: inline-block;
      width: 250px
    }
  }

  @media only screen and (min-width: 769px) {
    .lc-card-item {
      font-size: 20px;
      --background: #000000;
      height: auto;
      margin-right: 10px;
      cursor: pointer;
      transition-duration: 0.3s;
      transition-property: transform;
      display: inline-block;
      width: 250px;

    }
  }




  .h1,
  .h2,
  .h3,
  .h4,
  .h5,
  .h6,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 10px 0;
    font-family: "Roboto", sans-serif;
    color: #fff;
  }

  .lc-title {
    margin-top: 1em;
    --color: white;
    font-weight: bold;
  }

  .lc-card-title {
    --color: white;
    font-weight: bold;
  }

  .lc-toolbar {
    --background: #000000;
    --background-color: #000000;
    box-shadow: 0 0 35px 0 rgba(238, 240, 235, 0.15);
  }

  .lc-section {
    height: auto;
    --background: #1B1B1B;
  }

  .lc-card-item {
    --background: #000000;
    --color: #ffffff;
  }

  .lc-subtitle {
    margin-left: 1.5rem;
    color: #ffffff;
  }

  .cusTitle {
    color: var(--selectedFontColor);
  }


  .lc-profile-img {
    height: 70%;
    width: 70%;
    background-color: #ffffff;
  }

  .mat-header-row {
    background: #1B1B1B !important;
    border-bottom-color: #2B2B2B !important;
  }

  .mat-row {
    border-bottom-color: #2B2B2B !important;
    background: #1B1B1B !important;
  }


  mat-row:nth-child(even) {
    background-color: #1b1b1b !important;
  }

  .mat-paginator {
    background: #1B1B1B !important;
    color: #94a0ad !important;
  }





  ion-content {
    --ion-background-color: #000000;
  }

  ion-header.md.header-md.header-collapse-none.hydrated {
    background-color: transparent;
  }







}


.lc-section ion-card-header ion-card-title {
  --color: #1d2125;
  font-weight: 500;
  font-family: Roboto, sans-serif;
}

.lc-card-item ion-card-header {
  padding-inline-start: 0;
  padding-inline-end: 0;
  padding-top: 0;
  height: 200px;
}

.lc-card-item ion-card-content ion-progress-bar {
  margin-top: 1em;
}

.lc-label {
  color: #94a0ad !important;
  margin: 0.5em 0 !important;
  font-size: 1.2em !important;
  font-weight: 500 !important;
}


.mat-form-field-outline {
  border-radius: 5px !important;
  background-color: #2b2b2b !important;
  --padding-start: 1em !important;
  font-size: 0.9em !important;
}

.mat-form-field {
  display: contents !important;
}

.mat-form-field-wrapper {
  padding-right: 16px !important;
  padding-left: 16px !important;
  margin-top: 12px !important;
}

.lc-label-align {
  padding-left: 16px;
}

.mat-option {
  background: #2b2b2b !important;
  color: #94a0ad !important;
}

.mat-option:hover {
  background: #d8d7d7 !important;
  color: #202020 !important;
}

.mat-select-value {
  width: 95% !important;
  color: #94a0ad !important;
}

.mat-select-placeholder {
  color: #6a7075 !important;
}

.lc-error {
  padding-left: 27px !important;
  font-size: 75% !important;
}

.lc-button {
  padding-left: 16px !important;
  padding-right: 16px !important;
}

.lc-avatar-md {
  height: 3.5rem;
  width: 3.5rem;
}

.lc-rounded {
  border-radius: 0.25rem !important;
}

.lc-bg-primary {
  background-color: #1563c4 !important;
}

.lc-btn-color {
  --background: #1563c4;
}

.lc-avatar-title {
  align-items: center;
  color: #fff;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;
}

.lc-font-22 {
  font-size: 22px !important;
}

.lc-text-white {
  color: #fff !important;
}

.lc-amount {
  font-size: 1.5rem;
  font-weight: 500;
}

.lc-amount-card {
  text-align: right;
  line-height: 2.0em;
}

.lc-credit-header {
  padding: 30px;
}

.lc-label {
  color: #fff !important;
  margin-left: 16px !important;
  font-size: 1.2em !important;
  font-weight: 500 !important;
}

.lc-label-align {
  color: #94A0AD !important;
  font-weight: 500 !important;
}

.example-container {
  display: flex !important;
  flex-direction: column !important;
  max-height: 100% !important;
  min-width: 100% !important;
}

.mat-table {
  overflow: auto !important;
  // max-height: 500px !important;
}

.mobile-label {
  display: none !important;
}

@media(max-width: 768px) {
  .mobile-label {
    width: 124px !important;
    display: inline-table !important;
    font-weight: bold !important;
  }

  .mat-header-row {
    display: none !important;
  }

  .mat-row {
    flex-direction: column !important;
    align-items: start !important;
    padding: 8px 10px !important;
    // height: 230px;
    min-height: 36px;
    border-bottom-width: 2px;
  }

  .lc-label {
    display: block;
  }
}

@media(min-width: 769px) {
  .mat-header-cell {
    font-size: 14px !important;
    padding-left: 0 !important;
  }

  .mat-row {
    padding-top: 8px !important;
    padding-bottom: 8px !important;
  }

  .lc-ion-padding-start {
    padding-left: 1em !important;
  }
}

.mat-cell:first-of-type {
  padding-left: 0 !important;
}

.view {
  color: blue;
  font-size: inherit;
}

.mat-cell {
  color: #666666 !important;
  word-break: break-all !important;
}



.mat-header-cell {
  color: #666666 !important;
}


.mat-select-arrow {
  color: #94a0ad !important;
  margin: 0px 20px !important;
}

.mat-icon-button.mat-button-disabled.mat-button-disabled {
  color: #94a0ad !important;
}

.mat-icon {
  color: #94a0ad !important;
}

.mat-paginator-container {
  padding: 0 !important;
}

.badge {
  box-shadow: none;
}

.badge-primary {
  color: #fff;
  background-color: #02A5EF;
}

.badge-primary-pending {
  color: #fff;
  background-color: #f1556c;
}

.badge-pill {
  padding-right: 0.6em;
  padding-left: 0.6em;
  border-radius: 10rem;
}

.badge {
  display: inline-block;
  padding: 0.25em 0.4em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.input-group-prepend {
  margin-right: -1px;
  display: flex;
}

.input-group>.input-group-prepend:not(:first-child)>.input-group-text {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.input-group-text {
  display: flex;
  align-items: center;
  padding: 0.45rem 0.9rem;
  margin-bottom: 0;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
  color: #94a0ad;
  text-align: center;
  white-space: nowrap;
}

.lc-search {
  padding-top: 0.5em !important;
}

.header-md::after {
  display: none !important;
}

.input-group {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  width: 100%;
}

.custom-file {
  display: flex;
  align-items: center;
  position: relative;
  flex: 1 1 auto;
  width: 1%;
  min-width: 0;
  margin-bottom: 0;
  height: calc(1.5em + 0.9rem + 2px);
}

.custom-file-input {
  position: relative;
  z-index: 2;
  width: 100%;
  height: calc(1.5em + 0.9rem + 2px);
  margin: 0;
  opacity: 0;
}

.custom-file-label {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
  height: auto;
  padding: 0.45rem 0.9rem;
  font-weight: 400;
  line-height: 1.5;
  color: #94a0ad;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 0.2rem;
}

.custom-file-input:lang(en)~.custom-file-label::after {
  content: "Browse";
}

.custom-file-label::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
  display: block;
  height: auto;
  padding: 0.45rem 0.9rem;
  line-height: 1.5;
  color: #94a0ad;
  content: "Browse";
  background-color: #1B1B1B;
  border-left: inherit;
  border-radius: 0 0.2rem 0.2rem 0;
}

.pointer {
  cursor: pointer;
}

.mat-list-base {
  padding: 0 !important;
}

.mat-list-item-content {
  padding: 0 !important;
}

.mat-expansion-panel-body {
  padding: 0 !important;
}

.mat-tab-label {
  color: #fff !important;
}

.mat-tab-header {
  border-bottom: 2px solid #2B2B2B !important;
}

.mat-tab-header-pagination-chevron {
  border-color: #94a0ad !important;
}

.lc-ion-progress-bar {
  width: 10em !important;
  --color: #3390FF !important;
}

.alert-wrapper {
  background: #2B2B2B !important;
}

.alert-title {
  color: #fff !important;
}

.alert-message {
  color: #94a0ad !important;
}



/* You can add global styles to this file, and also import other style files */


.owl-carousel .owl-nav {
  overflow: hidden;
  height: 0px;
}

.owl-carousel .nav-btn {
  height: 47px;
  position: absolute;
  width: 26px;
  cursor: pointer;
  top: 30% !important;
}

.owl-carousel .owl-prev.disabled,
.owl-carousel .owl-next.disabled {
  pointer-events: none;
  opacity: 0.2;
}

.owl-carousel .prev-slide {
  height: 50px;
  background-image: url("./assets/icon/previous.png");
  background-repeat: no-repeat;
  width: 50px;
  left: -15px;
}

.owl-carousel .next-slide {
  height: 50px;
  background-image: url("./assets/icon/next.png");
  background-repeat: no-repeat;
  width: 50px;
  right: -33px;
}

.owl-carousel .prev-slide:hover {

  background-image: url("./assets/icon/previous_hover.png");
  background-repeat: no-repeat;
  width: 50px;
  left: -15px;
  height: 50px;
}

.owl-carousel .next-slide:hover {

  background-image: url("./assets/icon/next_hover.png");
  background-repeat: no-repeat;
  height: 50px;
  width: 50px;
  right: -33px;
}



.payment_success_image {
  background-image: url("./assets/icon/check.png");
  background-repeat: no-repeat;
  min-height: 100px;
  width: 100%;
  background-position: center;

}

.payment_success_failed_image {
  background-image: url("./assets/icon/warning.png");
  background-repeat: no-repeat;
  min-height: 100px;
  width: 100%;
  background-position: center;
}

.payment_success {
  background-color: #ffffff;
  border-radius: 50px;
  ;
}

.payment_success_text {

  text-align: center;
  font-size: 1.5rem;
  color: #ffffff;
}

.closeBtn {
  width: 30px;
  height: 30px;
  background-position: right;
  float: right;
  cursor: pointer;
}

.fa-coins {
  background-image: url("./assets/icon/credits.png");
  width: 30px;
  height: 30px;
}

.sc-ion-modal-md-h.my-custom-class {
  background: black;
}

.mb-4 {

  background-image: url("./assets/icon/credits_small.png");
  background-repeat: no-repeat;
  height: 50px;
  padding-left: 40px;
  ;

}

.mb-14 {


  background-image: url("./assets/icon/credits_small.png");
  background-repeat: no-repeat;
  height: 50px;
  padding-left: 40px;
  ;



}

.m-0 {
  background-image: url("./assets/icon/book.png");
  background-repeat: no-repeat;
  height: 20px;
  padding-left: 30px;

}

.btn-lg {
  background-image: url("./assets/icon/play.png");
  background-repeat: no-repeat;
  background-position: 5px 10px;
  min-width: 190px;
  padding-left: 40px;
}




input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}



.swiper-pagination {
  bottom: 0px !important;
}


.prev-slide {
  height: 50px;
  background-image: url("./assets/icon/previous.png");
  background-repeat: no-repeat;
  width: 50px;
  left: -15px;
}

.next-slide {
  height: 50px;
  background-image: url("./assets/icon/next.png");
  background-repeat: no-repeat;
  width: 50px;
  right: -33px;
}


@media only screen and (min-width: 992px) {
  .fabNxtBtn {
    position: absolute;
    z-index: 999;
    top: 40%;
    left: 95%;
    width: 40px;
    height: 40px;
    line-height: 40px;
    vertical-align: middle;
    background-image: url("./assets/icon/next.png");
    background-repeat: no-repeat;
    cursor: pointer;
  }


  .fabPrevBtn {
    position: absolute;
    z-index: 999;
    top: 40%;
    vertical-align: middle;
    width: 40px;
    height: 40px;
    line-height: 40px;
    background-image: url("./assets/icon/previous.png");
    background-repeat: no-repeat;
    cursor: pointer;
  }
}


@media only screen and (max-width: 768px) {
  .fabNxtBtn {
    position: absolute;
    z-index: 999;
    top: 40%;
    left: 90%;
    width: 40px;
    height: 40px;
    line-height: 40px;
    vertical-align: middle;
    background-image: url("./assets/icon/next.png");
    background-repeat: no-repeat;
    cursor: pointer;
  }


  .fabPrevBtn {
    position: absolute;
    z-index: 999;
    top: 40%;
    vertical-align: middle;
    width: 40px;
    height: 40px;
    line-height: 40px;
    background-image: url("./assets/icon/previous.png");
    background-repeat: no-repeat;
    cursor: pointer;
  }
}



//Teacher Module


.mat-select-trigger {
  margin: 12px;
}

@media print {

  .no-print,
  .no-print * {
    display: none !important;
  }

  * {
    overflow: visible !important;
  }

  .page {
    page-break-after: always;
  }
}


.lc-toolbar {
  /*--background: #141414;*/
  box-shadow: 0 0 35px 0 rgba(66, 72, 80, 0.15);

}


@media(max-width: 768px) {

  .fabNxtBtn {
    display: none;
  }

  .fabPrevBtn {
    display: none;
  }
}

.modal-wrapper.sc-ion-modal-md {
  height: 80%;
  width: 80%;
  border: 3px solid #1b1b1b;
}

lc-logo {
  vertical-align: middle !important;
  height: 60px !important;
  width: 100px;
  margin: 0.4em;
}

/*Change text in autofill textbox*/
input:-webkit-autofill {
  -webkit-text-fill-color: yellow !important;
}


/*Change text in autofill textbox*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: #ffffff !important;
}
