ion-item {
  margin-top: 8px;
}

hr {
  border-width: 1px;
  border-color: #2b2b2b;
}

@media screen and (max-width: 768px) {
  .lc-btn-padding {
    padding-top: 1em !important;
  }
}

#savebtn {
  margin-left: 17px;
  margin-bottom: 20px;
}

ion-text.md.hydrated {
  display: block;
}

$color-primary: rgba(67, 66, 93, 255);
$color-text: #43425d;
$color-text-lite: rgba(#4d4f5c, .5);

.login-container {
  font-family: "Source Sans Pro";

  .sidebar {
    background-image: url(/assets/images/group_4.png),
      linear-gradient(-136.82353093203deg, rgba(36, 35, 72, 255) 0%, rgba(90, 85, 170, 255) 100%);
    background-size: cover;
    min-height: 100vh;
  }

  .title,
  a {
    color: $color-text;
  }

  .title {
    font-weight: bold;
    letter-spacing: 5px;
  }

  .tag {
    color: $color-text-lite
  }

  .btn-main {
    background: $color-primary;
  }

  .btn-main-outline {
    border: 1px solid $color-primary
  }

  .row {
    width: 100%;
  }

  .lc-input {
    border: none !important;
  }

  .disablePlan {
    pointer-events: none;
  }

  .enablePlan {
    pointer-events: auto;
  }
}



