<ion-content [fullscreen]="true" class="ion-padding" scroll-y="true" class="lc-content">
  <!--ion-header>{{title}}</ion-header-->
  <form [formGroup]="courseForm">

    <ion-grid>
      <ion-card class="lc-section">
        <ion-card-header>
          <ion-row>
            <ion-col size="12" size-xs="11" size-md="11" size-lg="11" class="ion-no-padding">
              <ion-header>{{subtitle | translate }} </ion-header>
            </ion-col>
          </ion-row>

          <ion-row class="ion-padding-top">
            <ion-col size="12" size-xs="12" size-md="6" size-lg="6" class="ion-no-padding">
              <ion-label class="lc-label-align">{{'select_category' | translate }}*</ion-label>
              <ion-item lines="none" color="none">
                <mat-select class="lc-input" id="cocat" placeholder="{{'select_category' | translate }}"
                  formControlName="courseCategory" name="item">
                  <mat-option *ngFor="let item of categories" [value]="item.value">
                    {{ item.viewValue }}
                  </mat-option>
                </mat-select>
              </ion-item>
              <ion-text color="danger" class="lc-error"
                *ngIf="courseForm.get('courseCategory').errors && (courseForm.get('courseCategory').invalid && courseForm.get('courseCategory').dirty || courseForm.get('courseCategory').touched)">
                <ion-text *ngIf="hasError('courseCategory','required')">{{'this_field_is_required' | translate }}
                </ion-text>
              </ion-text>
            </ion-col>
          </ion-row>
          <ion-row class="ion-padding-top">
            <ion-col size="12" size-xs="12" size-md="6" size-lg="6" class="ion-no-padding">
              <ion-label class="lc-label-align">{{'course_full_name' | translate }}*</ion-label>
              <ion-item lines="none" color="none">
                <ion-input class="lc-input" placeholder="{{'course_full_name' | translate }}"
                  formControlName="courseFullName" type="text">
                </ion-input>
              </ion-item>
              <ion-text color="danger" class="lc-error"
                *ngIf="courseForm.get('courseFullName').errors && (courseForm.get('courseFullName').invalid && courseForm.get('courseFullName').dirty || courseForm.get('courseFullName').touched)">
                <ion-text *ngIf="hasError('courseFullName','required')">{{'this_field_is_required' | translate }}
                </ion-text>
              </ion-text>
            </ion-col>
          </ion-row>
          <ion-row class="ion-padding-top">
            <ion-col size="12" size-xs="12" size-md="6" size-lg="6" class="ion-no-padding">
              <ion-label class="lc-label-align">{{'course_short_name' | translate }}*</ion-label>
              <ion-item lines="none" color="none">
                <ion-input class="lc-input" placeholder="{{'course_short_name' | translate }}"
                  (ionChange)="RegistryCheck($event.target)" formControlName="courseShortName" type="text">
                </ion-input>
              </ion-item>
              <ion-text color="danger" class="lc-error"
                *ngIf="courseForm.get('courseShortName').errors && (courseForm.get('courseShortName').invalid && courseForm.get('courseShortName').dirty || courseForm.get('courseShortName').touched)">
                <ion-text *ngIf="hasError('courseShortName','required')">{{'this_field_is_required' | translate }}
                </ion-text>
              </ion-text>
              <ion-text color="danger" class="lc-error" *ngIf="shortnameConflict">
                <ion-text *ngIf="shortnameConflict">ShortName already in use</ion-text>
              </ion-text>
            </ion-col>
          </ion-row>

          <ion-row class="ion-padding-top">
            <ion-col size="12" size-xs="12" size-md="6" size-lg="6" class="ion-no-padding">
              <ion-label class="lc-label-align">{{'course_type' | translate }}*</ion-label>
              <ion-item lines="none" color="none">
                <mat-select class="lc-input" placeholder="{{'course_type' | translate }}" id="courseType"
                  placeholder="{{'course_type' | translate }}" formControlName="courseType" name="item">
                  <mat-option *ngFor="let item of courseType" [value]="item.value">
                    {{ item.viewValue }}
                  </mat-option>
                </mat-select>
              </ion-item>
              <ion-text color="danger" class="lc-error"
                *ngIf="courseForm.get('courseType').errors && (courseForm.get('courseType').invalid && courseForm.get('courseType').dirty || courseForm.get('courseType').touched)">
                <ion-text *ngIf="hasError('courseType','required')">{{'this_field_is_required' | translate }}
                </ion-text>
              </ion-text>
            </ion-col>
          </ion-row>


          <ion-row class="ion-padding-top">
            <ion-col size="12" size-xs="12" size-md="6" size-lg="6" class="ion-no-padding">
              <ion-label class="lc-label-align">{{'duration_hm' | translate }}</ion-label>
              <ion-item lines="none" color="none">
                <select type="number" class="durationPicker" formControlName="durationHrs">
                  <option *ngFor="let item of hoursValue" [value]="item.value">{{item.viewValue}}</option>
                </select>
                <select type="number" class="durationPicker" formControlName="durationMins">
                  <option *ngFor="let item of minsValue" [value]="item.value">{{item.viewValue}}</option>
                </select>
              </ion-item>
            </ion-col>
          </ion-row>

          <ion-row class="ion-padding-top">
            <ion-col size="12" size-xs="12" size-md="6" size-lg="6" class="ion-no-padding">
              <ion-label class="lc-label-align">{{'points' | translate }}</ion-label>
              <ion-item lines="none" color="none">
                <ion-input class="lc-input" placeholder="{{'points' | translate }}" formControlName="points"
                  type="number">
                </ion-input>
              </ion-item>
            </ion-col>
          </ion-row>

          <ion-row class="ion-padding-top">
            <ion-col size="12" size-xs="12" size-md="6" size-lg="6" class="ion-no-padding">
              <ion-label class="lc-label-align">{{'enrollment_type' | translate }}*</ion-label>
              <ion-item lines="none" color="none">
                <mat-select class="lc-input" id="enrollType" placeholder="{{'enrollment_type' | translate }}"
                  formControlName="enrollmentType" name="item">
                  <mat-option *ngFor="let item of enrollType" [value]="item.value">
                    {{ item.viewValue }}
                  </mat-option>
                </mat-select>

              </ion-item>
              <ion-text color="danger" class="lc-error"
                *ngIf="courseForm.get('enrollmentType').errors && (courseForm.get('enrollmentType').invalid && courseForm.get('enrollmentType').dirty || courseForm.get('enrollmentType').touched)">
                <ion-text *ngIf="hasError('enrollmentType','required')">{{'this_field_is_required' | translate }}
                </ion-text>
              </ion-text>
            </ion-col>
          </ion-row>


          <ion-row class="ion-padding-top">
            <ion-col size="12" size-xs="12" size-md="6" size-lg="6" class="ion-no-padding">
              <ion-label class="lc-label-align">{{'course_description' | translate }}*</ion-label>
              <ion-item lines="none" color="none">
                <ion-textarea rows="6" cols="20" class="lc-text-area" formControlName="courseDescription" type="text">
                </ion-textarea>
              </ion-item>
              <ion-text color="danger" class="lc-error" *ngIf="courseForm.get('courseDescription').errors && (courseForm.get('courseDescription').invalid && courseForm.get('courseDescription').dirty || courseForm.get(
                     'courseDescription').touched)">
                <ion-text *ngIf="hasError('courseDescription','required')">{{'this_field_is_required' | translate }}
                </ion-text>
              </ion-text>
            </ion-col>
          </ion-row>

          <ion-row class="ion-padding-top">
            <ion-col size="12" size-xs="12" size-md="6" size-lg="6" class="ion-no-padding">
              <ion-label class="lc-label-align ">Course Image</ion-label>
              <div class="input-group mat-form-field-wrapper" id="filePicker">
                <div class="custom-file">
                  <input input type="file" class="custom-file-input" [ngStyle]="{cursor:'pointer'}"
                    (change)="chooseFile($event.target)" formControlName="courseImage" accept=".png,.jpeg,.jpg">
                  <label class="custom-file-label">{{fileName}}</label>
                </div>
                <ion-button id="savebtn" type="button" expand="block" fill="solid" class="lc-button lc-btn-color"
                  (click)="openImagePopupModal()">{{'upload_defaults' | translate}}
                </ion-button>
                <span id="download_icon" title="uploaded logo" (click)="getUploadedLogo()"
                  *ngIf="update_flag === true && logoexists ===true" class="material-icons ">cloud_download</span>
              </div>
            </ion-col>
          </ion-row>

          <ion-row class="ion-padding-top">
            <ion-col size="12" size-xs="12" size-md="6" size-lg="6" class="ion-no-padding">
              <ion-label class="lc-label-align">{{'no_of_topics' | translate }}*</ion-label>
              <ion-item lines="none" color="none">
                <ion-input class="lc-input" placeholder="{{'no_of_topics' | translate }}" formControlName="topicCnt"
                  type="number">
                </ion-input>
              </ion-item>
              <ion-text color="danger" class="lc-error"
                *ngIf="courseForm.get('topicCnt').errors && (courseForm.get('topicCnt').invalid && courseForm.get('topicCnt').dirty || courseForm.get('topicCnt').touched)">
                <ion-text *ngIf="hasError('topicCnt','required')">{{'this_field_is_required' | translate }}
                </ion-text>
              </ion-text>
            </ion-col>
          </ion-row>

        </ion-card-header>
        <ion-row>
          <ion-col size="12" size-xs="12" size-md="2" size-lg="2" class="ion-no-padding">
            <ion-button id="savebtn" [disabled]="!courseForm.valid" type="button" expand="block" fill="solid"
              class="lc-button lc-btn-color" (click)="submit()">{{'submit' | translate }}
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-card>
    </ion-grid>
  </form>
</ion-content>
