.lc-logo {
  vertical-align: middle !important;
  height: 60px !important;
  width: 100px;
  margin: 0.4em;
}



.lc-menu {
  --background: var(--selectedColorCode);
  --background-color: var(--selectedColorCode);
  --side-max-width: 240px !important;
  --side-min-width: 100px !important;

}



.lc-menu ion-content {
  --background: transparent !important;
}

.lc-menu ion-content ion-list,
.lc-menu ion-content ion-list ion-item {
  --ion-background-color: transparent !important;
  color: var(--selectedFontColor);
  ;
  font-size: 1.05em !important;
  font-weight: 500 !important;
  cursor: pointer;
}

.lc-menu ion-content ion-list ion-item ion-label {
  padding-left: 1em !important;
  font-size: 0.95em;
}


@media screen and (min-width: 769px) {

  .content_frame {
    height: 80vh;
  }

  .lc-logo {
    margin: 0.4em 0em;
  }

  .lc-main-content {
    min-width: -webkit-fill-available;
    vertical-align: top;
  }

  .mat-expansion-panel-header {
    width: 16em !important;
  }
}

@media screen and (max-width: 768px) {
  .content_frame {
    height: 90vh;
  }

  .lc-logo {
    margin: 0.4em 0em;
  }

  .lc-main-content {
    min-width: -webkit-fill-available;
    vertical-align: top;
  }

  .mat-expansion-panel-header {
    width: 16em !important;
  }
}





.header-translucent-ios ion-toolbar {
  --opacity: none !important;
}


@media screen and (min-width: 769px) {
  .mat-expansion-panel-header {
    width: 12em !important;
  }

  .lc-expansion-header {
    width: 18em !important;
    font-size: 0.8rem;
  }

  .lc-profile-name {
    padding-top: 20px;
  }

  .lc-profile {
    text-align: right;
    background-color: inherit;
  }

  .nav-expand {
    margin-right: 60px !important;
  }

  .lc-logout {
    color: var(--selectedFontColor);
    font-size: 1.05em !important;
    font-weight: 500 !important;
    vertical-align: super !important;
  }
}

.mat-expansion-panel {
  background-color: inherit !important;
  box-shadow: unset !important;
}

.mat-expansion-panel-header {
  padding-right: 5px !important;
  padding-left: 0 !important;
}

.mat-expansion-panel-header-title {
  color: var(--selectedFontColor);
  font-weight: 500 !important;
}

.lc-sub-menu {
  font-size: 0.875rem;
  color: var(--selectedFontColor);
  cursor: pointer;
  padding-left: 2.1rem;
}

.lc-menu-align {
  padding-top: 2px;
  color: var(--selectedFontColor);
}

.lc-mat-icon {
  font-size: 45px !important;
}



.lc-avatar {
  display: inline-flex;
  margin-top: 16px;
}

::ng-deep .mat-menu-panel {
  border-radius: 0px !important;
}



::ng-deep .mat-menu-content .lc-profile-name {
  font-weight: 500;
}



#noNotifyLabel.lc-profile-name {
  font-style: italic;
  font-weight: 300;
}

#logoutLabel.lc-profile-name {
  font-weight: 500;
}

.material-icons {
  color: var(--selectedFontColor);
}

.mat-expansion-panel-header-description,
.mat-expansion-indicator::after {
  color: #000000 !important;
}

.RoleTitle {
  color: var(--selectedFontColor);
}

#uname {
  color: var(--selectedFontColor);
  margin-bottom: 20px;
}

@media only screen and (max-width: 1024px) {

  /* For mobile phones: */
  .custom_menu_btn {
    display: none;
  }

  .ionic_menu_btn {
    display: block;
  }

  .main_nav {
    display: block;
  }

}

@media only screen and (min-width: 1025px) {

  /* For desktop: */
  .custom_menu_btn {
    display: block;
  }

  .ionic_menu_btn {
    display: none;
  }

  .main_nav {
    display: none;
  }

}







.item.sc-ion-label-md-h,
.item .sc-ion-label-md-h {

  padding-left: 5px;
}

.item.sc-ion-label-ios-h,
.item .sc-ion-label-ios-h {
  padding-left: 5px;
}


ion-title {
  position: absolute;
  line-height: 40px;
  padding-left: 10px;
  width:200px;
}

