
ion-item {
  margin-top: 8px;
}

@media(max-width: 768px) {
  .lc-table-no-padding {
    padding: 0 !important;
  }
}

@media(min-width: 769px) {
  .lc-certId-align {
    padding-left: 24px !important;
  }

  .lc-btn-align {
    margin-top: 2em;
    --background: #02A5EF !important;
  }
}

.material-icons {
  cursor: pointer !important;
}



@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

.spacer {
  margin-right: 10px;
}

.anchor {
  cursor: pointer;
}
